.local-nav-container {
  position: relative;
}

.local-nav {
  list-style-type: none;
  padding-inline: 1rem;
  font-size: 0.8rem;
  height: 32px;
  display: flex;
  flex-direction: row;
  border-top: 1px solid var(--grey);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.25);

  & li {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    height: 100%;
    padding-inline: 1rem;
    transition: 250ms;

    &:hover {
      background-color: var(--hover-orange);
      cursor: pointer;
    }
  }

  & li img {
    margin-top: 3px;
  }
}

.active {
  font-weight: 700;
}

.ver-arrow {
  transform: rotate(270deg);
}

.vertical {
  font-weight: 400;
  position: absolute;
  z-index: 9000;
  flex-direction: column;
  height: auto;
  width: auto;
  min-width: 210px;
  background-color: white;
  padding: 0;

  & li {
    padding: 0.5rem 1rem;
    transition: 100ms;
    justify-content: space-between;
  }
}

#menu-gs-desarollo-de-personas {
  left: 142px;
  top: 32px;
}

#menu-formacion {
  left: 210px;
  top: 0;
}

#menu-seleccion-y-promocion {
  left: 210px;
  top: calc(33px * 2);
}

#menu-relaciones-internas {
  left: 210px;
  top: calc(33px * 3);
}

/* side nav bar */

.side-nav-bar {
  background-color: var(--bg-color-blue);
  height: 100vh;
  color: white;
  font-size: 0.8rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 165px;

  & ul {
    padding: 0;

    & li {
      padding: 0.5rem;
      cursor: pointer;
      transition: 500ms;
      display: flex;
      gap: 2px;
      align-items: center;
    }
  }

  & .side-nav-bar-options li {
    border: 1px solid rgba(var(--bg-color-blue-trans), 0.4);
    background-color: var(--primary-color);

    &:hover {
      background-color: var(--bg-color-blue) !important;
    }
  }

  & img {
    height: 1.5rem;
  }
}

.current-page {
  background-color: var(--bg-color-blue) !important;
  font-weight: 700;
}

/* Breadcrumb and searchbar */

#breadcrumb-search {
  height: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
  margin: 0.25rem 0;
  font-size: 0.8rem;
}

/* breadcrumb */

.bread-crumb {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;

  & li span {
    margin-left: 0.2rem;
  }

  & a:visited {
    color: var(--primary-color);
    text-decoration: none;
  }
  & a:hover {
    text-decoration: underline;
  }
}

/* Search-Bar */

.search-bar {
  display: grid;
  grid-template-columns: 1fr 1.25rem 2rem;
  overflow: hidden;
  height: 1.8rem;
  border: solid 1px var(--grey);
  border-radius: 8px;

  & input {
    border: none;
    padding-inline: 0.5rem;

    &:focus,
    &:active {
      outline: none;
    }
  }
  & button {
    display: flex;
    align-items: center;
    place-content: center;
    cursor: pointer;
  }

  & img {
    aspect-ratio: 1/1;
  }
}

#icn-drop {
  border: none;
  background-color: white;

  &:hover {
    background-color: var(--hover-blue);
  }

  & img {
    width: 0.5rem;
  }
}

#icn-src {
  background-color: var(--hover-orange);
  border: none;
  transition: 0.5s;

  &:hover {
    background-color: var(--secondary-color);
  }

  & img {
    width: 1.25rem;
  }
}

/* RIBBON */

.ribbon {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 1rem 0 1rem;
  align-items: center;
  background-color: #f3f3f3;
  margin: 0;
  top: 0;
  z-index: 9000;
  position: fixed;
  width: 100vw;
  border-bottom: 1px solid var(--grey);
}

.ribbon > ul {
  display: flex;
  flex-direction: row;
  gap: 2px;
  padding: 0;
  margin: 0;
}

.ribbon > ul li {
  list-style-type: none;
  color: #3f3f3f;
  font-size: 0.65rem;
  cursor: pointer;
  line-height: 1rem;
  padding: 8px;
  height: 32px;
  border: 1px solid var(--bg-grey);
  border-bottom: none;
  border-radius: 1px;
  transition: 100ms ease-in-out;
}

.ribbon > ul li:hover {
  background-color: #ffffff;
  border-color: #e0e0e0;
}

.ribbon div {
  display: flex;
  gap: 0.75rem;
}

.ribbon div span {
  cursor: pointer;
}

#ribbonSettings {
  position: relative;
}

#ribbonSettingsDropdown {
  position: absolute;
  top: 32px;
  right: 0;
  width: 150px;
  z-index: 10000;
  padding: 0;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
  background-color: white;
  & li:hover {
    background-color: #e6f2fb;
  }
}

.ribbonSelected {
  background-color: white;
  border: 1px solid #e0e0e0;
  border-bottom: none;
}

/* ribbon dropdown */

/* NAVEGAR */

.lowerNavBar {
  height: 4rem;
  display: flex;
  align-items: center;
  padding-inline: 2rem;
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;
}

.lowerNavBar div {
  display: flex;
  gap: 2rem;
  place-items: center;
}

.lowerNavBar .logo {
  height: 2.25rem;
}

.lowerNavBar h1 {
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--primary-color);

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.lowerNavBar ul {
  margin: 0;
  list-style-type: none;
  height: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;

  & li {
    cursor: pointer;

    & > img {
      width: 1.25rem;
    }

    &:nth-child(3) {
      transform: scale(130%);
      margin-left: 5px;
    }

    &:nth-child(4) {
      position: relative;
      font-size: 0.9rem;
      border-right: 1px solid white;

      & span {
        margin-left: 1rem;
        color: var(--primary-color);
        display: flex;
        align-items: center;
        gap: 1rem;
        height: 4rem;
        padding-right: 10px;
      }

      &:hover {
        border-right: 1px solid #e0e0e0;
      }
    }
  }
}

#lowerNavBarDropdown {
  position: absolute;
  display: grid;
  top: 3.5rem;
  right: 0;
  width: 100%;
  height: auto;
  text-align: left;
  z-index: 10000;
  padding: 0;
  gap: 0;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
  border-right: 1px solid #e0e0e0;
  background-color: white;

  & li {
    padding: 0.75rem 1rem;
  }

  & li:hover {
    background-color: #e6f2fb;
  }
}

/* @PÃGINA */

.pagina {
  display: flex;
  padding-inline: 1rem;
  font-size: 0.75rem;
  font-weight: 200;
  background-color: var(--bg-grey);
}

.pagina-section {
  border-right: solid 1px var(--grey);
  display: grid;
  justify-content: space-between;

  & > ul {
    list-style-type: none;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    gap: 0.25rem;

    & > li {
      display: flex;
      padding: 2px;
      flex-direction: column;
      align-items: center;
      max-width: 7rem;
      text-align: center;
      height: 71px;

      &:hover {
        outline: 1px solid var(--hover-blue-outline);
        cursor: pointer;
      }
    }
  }

  & > span {
    text-align: center;
    padding-bottom: 5px;
    opacity: 75%;
  }
}

.nested-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  width: auto;
  height: 71px;

  & li {
    display: flex;
    gap: 0.5rem;
  }
}
