*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0px;
}

:root {
  --bg-color-blue: rgb(0, 93, 133);
  --bg-color-blue-trans: 0, 93, 133;
  --primary-color: #0082b9;
  --secondary-color: #dd7711;
  --grey: #e2e2e2;
  --bg-grey: #f3f3f3;
  --hover-blue: #e6f2fb;
  --hover-orange: #fbba6f;
  --hover-blue-outline: #0081b9a2;
}

body {
  padding-top: 2.36rem;
  font-size: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff;
  overflow: hidden;
}

/* generales */

.icn-small {
  height: 0.25rem;
}

/* layout */

#main {
  display: grid;
  grid-template-columns: 165px 1fr;
  gap: 1rem;
  overflow-y: scroll;
}

#breadcrumb-search {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2rem;
}
